<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>{{page.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link
      rel="stylesheet"
      title="default"
      href="/amis-py/statics/amis@1.6.4/sdk/sdk.css"
    />
    <link
      rel="stylesheet"
      href="/amis-py/statics/amis@1.6.4/sdk/helper.css"
    />
    <script src="/amis-py/statics/amis@1.6.4/sdk/sdk.js"></script>
    <script src="/amis-py/statics/vue@2.6.14/dist/vue.js"></script>
    <script src="/amis-py/statics/history@4.10.1
/umd/history.js"></script>
    <style>
      html,
      body,
      .app-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="root" class="app-wrapper"></div>
    <script src="sdk.js"></script>
    <script type="text/javascript">
      (function () {
        let amis = amisRequire('amis/embed');
        // 通过替换下面这个配置来生成不同页面
        let amisJSON = {
            {{page.json}}
        };
        let amisScoped = amis.embed('#root', amisJSON);
      })();
    </script>
  </body>
</html>
